body {
     /* background-color: #C3CDE6; */
     /* background-color: #CCCCFF; */
     background-color: #DBF3A5;
  }
  h1{
    color: #1A1AE9;
}
h2{
    color: #1A1AE9;
}

h3{
    color: #105AEF;
    
}

.company{
    background-color: #01FA40;
}

.vacancy{
    background-color:#01FA40;
}

div{
    background-color: #01FA40
}
