h1{
    margin-left: 3%;
}

div{
    padding-bottom: 10px;
    text-align: center;
    border: solid 3px rgb(72, 133, 143);
    border-radius:4px;
    width: 20%;
    padding-left: 1%;
}

a{
    text-decoration: none;
    color: blue;
}