body{
    background-color: aqua;
    }
    h1{
        margin-left: 3%;
    }
    ul{
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px;
    
    }
    .company{
        padding-bottom: 10px;
        border: solid 3px rgb(72, 133, 143);
        border-radius:4px;
        width: 26%;
    
    }
    a{
        text-align:center;
        text-decoration: none;
        color: blue;
        margin-right: 10px;
    }
    
    li{
        text-align: center;
    }